# env / secrets
.env
env.sh
*.apikey
# python
__pycache__/
*.pyc
.venv/
# data / artifacts
movies_v1/datawrangling/movies.db
movies_v2/datawrangling/movies.db
movies_v1/datawrangling/index/
movies_v2/datawrangling/index/
docker/moviebot-data/index/movies.faiss
docker/moviebot-data/movies.db
*.db
*.faiss
*.pkl
# editor
.vscode/
.DS_Store
